<section class="p-10  text-center grid grid-cols-3">
    
    <div class="relative w-sm mx-auto col-span-1 ">
        <img src="assets/wom.png" alt="Woman" class="w-full rounded-lg">
        <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 flex rounded-xl  w-full">
            <div
                class="bg-red-500 h-fit px-2 rounded-bl-4xl rounded-tr-4xl rounded-lg flex justify-between w-full shadow-lg">
                <div class="text-center text-white w-1/3 m-1">
                    <p class="text-5xl font-bold pt-3">84%</p>
                    <p class="text-sm">lorem ipsum</p>
                </div>
                <div class="text-center w-1/2 rounded-lg mx-1 px-2 bg-red-400">
                    <div class="text-red-500 py-1 h-full bg-white rounded-lg">
                        <p class="text-5xl font-bold pt-3">10+</p>
                        <p class="text-sm">lorem ipsum</p>
                    </div>
                </div>
                <div class="text-center text-white w-1/3 py-1">
                    <p class="text-5xl font-bold pt-3">64</p>
                    <p class="text-sm">lorem ipsum</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-2 text-left text-3xl">
        <p class="text-7xl font-bold tracking-tight text-blue-800" >About us</p>
        <p class="my-2 font-medium tracking-tight">
            Nous sommes convaincus que cette étape de votre
            candidature vous permettra de démontrer votre potentiel et de
            faire valoir vos compétences uniques.
        </p>
        <p class="my-2 font-light text-2xl">
            -Vos résultats à ces tests revêtent une importance cruciale, car
            ils nous permettront de mieux faire correspondre le profil du poste
            avec votre propre profil.
        </p>
        <p class="my-2 font-light text-2xl">
            -Nous vous encourageons à aborder ces tests avec assurance,
            sachant que vos performances joueront un rôle clé dans le
            processus de recrutement.
        </p>
        <p class="my-2 font-light text-2xl">
            -Notre objectif est de créer des correspondances
            harmonieuses entre les profils des candidats et des postes, de
            manière à favoriser la réussite mutuelle.
        </p>
    </div>
</section>