<div class="text-center py-10 px-5" data-aos="fade-up">
    <p class="text-5xl font-semibold mb-6" data-aos="fade-down" data-aos-delay="100">{{ 'HOME.NUMBERS.TITLE' | translate }}</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        <!-- Total Posts -->
        <div class="flex justify-center items-center bg-blue-50 p-4 rounded-lg shadow-md" data-aos="fade-right" data-aos-delay="200">
            <i class="fa-solid fa-briefcase text-red-500 text-5xl bg-blue-50 p-4 mr-2"></i>
            <div class="text-left">
                <p class="text-5xl font-bold">700</p>
                <p class="text-gray-600">{{ 'HOME.NUMBERS.TOTAL_POSTS' | translate }}</p>
            </div>
        </div>
        <!-- Sites -->
        <div class="flex justify-center items-center bg-blue-50 p-4 rounded-lg shadow-md" data-aos="fade-right" data-aos-delay="400">
            <i class="fa-solid fa-building text-red-500 text-5xl p-4 mr-2"></i>
            <div class="text-left">
                <p class="text-5xl font-bold">7</p>
                <p class="text-gray-600">{{ 'HOME.NUMBERS.SITES' | translate }}</p>
            </div>
        </div>
        <!-- Employees -->
        <div class="flex justify-center items-center bg-blue-50 p-4 rounded-lg shadow-md" data-aos="fade-left" data-aos-delay="600">
            <i class="fa-solid fa-users text-red-500 text-5xl p-4 mr-2"></i>
            <div class="text-left">
                <p class="text-5xl font-bold">+10,000</p>
                <p class="text-gray-600">{{ 'HOME.NUMBERS.EMPLOYEES' | translate }}</p>
            </div>
        </div>
        <!-- New Posts -->
        <div class="flex justify-center items-center bg-blue-50 p-4 rounded-lg shadow-md" data-aos="fade-left" data-aos-delay="800">
            <i class="fa-solid fa-briefcase text-red-500 text-5xl p-4 mr-2"></i>
            <div class="text-left">
                <p class="text-5xl font-bold">20</p>
                <p class="text-gray-600">{{ 'HOME.NUMBERS.NEW_POSTS' | translate }}</p>
            </div>
        </div>
    </div>
</div>