<div class="grid-container" [style.width.px]="totalWidth">
  <!-- Debug info -->
  <div class="debug-info" *ngIf="showDebug">
    <div>Grid size: {{ width }}x{{ height }}</div>
    <div>Cell size: {{ cellWidth }}x{{ cellHeight }}</div>
    <div>Dominos: {{ dominos.length }}</div>
    <div>Pattern: {{ patternType }}</div>
    <div>
      <button (click)="resetEditableDominos()">Reset Editable Dominos</button>
    </div>
  </div>

  <!-- Grid -->
  <div
    class="grid"
    [style.width.px]="totalWidth"
    [style.height.px]="totalHeight"
    [style.padding.px]="gridPadding"
  >
    <!-- Grid lines for debugging -->
    <div *ngIf="showGridLines" class="grid-lines">
      <div
        *ngFor="let line of horizontalLines"
        class="grid-line horizontal"
        [style.top.px]="line"
      ></div>
      <div
        *ngFor="let line of verticalLines"
        class="grid-line vertical"
        [style.left.px]="line"
      ></div>
    </div>

    <!-- Dominos with enhanced animations and positioning -->
    <div
      class="dominos-container"
      [style.transform]="'scale(' + zoomLevel + ')'"
      [style.transform-origin]="'center'"
    >
      <ng-container *ngFor="let domino of dominos; trackBy: trackByDominoId">
        <div
          class="domino-wrapper"
          [style.left.px]="calculateX(domino)"
          [style.top.px]="calculateY(domino)"
          [style.transform]="domino.isVertical ? 'rotate(90deg)' : ''"
          [class.editable-domino]="domino.isEditable"
        >
          <app-interactive-domino
            #dominoComponent
            [id]="domino.id"
            [width]="dominoWidth"
            [height]="dominoHeight"
            [initialTopValue]="domino.topValue"
            [initialBottomValue]="domino.bottomValue"
            [isEditable]="domino.isEditable"
            [isVertical]="domino.isVertical ?? false"
            [color]="domino.color || ''"
            [questionId]="domino.questionId"
            (valueChanged)="onDominoChange($event)"
            (dominoSelected)="onDominoSelected($event)"
            (rotationChanged)="onDominoRotate($event)"
          >
          </app-interactive-domino>
        </div>
      </ng-container>
    </div>

    <!-- Optional pattern lines to connect dominos -->
    <svg
      *ngIf="showConnections"
      class="connections-layer"
      [attr.width]="totalWidth"
      [attr.height]="totalHeight"
    >
      <g class="connection-lines">
        <!-- Lines could be added here -->
      </g>
    </svg>
  </div>
</div>
