/* Import Material theme first */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import "tailwindcss";
/* Custom styles last */
html, body { 
  height: 100%; 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}